/* Basics */

* {
	margin: 0;
	padding: 0;
	font-family: Palatino, Georgia;
	font-size: 14px;
}

h1, h2 {
	font-size: 40px;
	margin-bottom: 0.3em;
	margin-top: 0.5em;
	font-family: Palatino, Georgia;
	font-weight: normal;
}

h2.section-header {
	font-family: "droid-serif-1","droid-serif-2";
}

a img {
	border: none;
}

ul {
	list-style-type: none;
}


/* Main List Panel */

#news-panel {
	float: left;
	position: absolute;
	top: 0;
	left: 150px;
	min-width: 940px;
}


#news-panel div#home {
	display: block;
}

#news-panel ul,
#news-panel h2 {
	clear: both;
}

#news-panel .section-header {
	border-top: 4px solid #133589;
	background: white;
	padding: 5px 10px;
	margin: 0;
	color: #133589;
	border-bottom: 1px solid #b7b7b7;
	margin-right: 1%;
}

#news-panel .news-list {
	height: auto;
}

#inpictures, 
#news-panel .hidden {
	display: none;
}

#news-panel ul {
	overflow: auto;
}

#news-panel ul li {
	display: block;
	float: left;
	overflow: hidden;
	padding: 10px;
	color: #555555;
	border-right: 1px dotted #b7b7b7;
}


#news-panel ul li p {
	font-family: "droid-serif-1","droid-serif-2";
}

#news-panel ul li a {
	text-decoration: none;
	font-family: "droid-serif-1","droid-serif-2";
}

#news-panel ul li.first {
	width: 450px;
	height:155px;
	padding-top:5px;
	width:64%;
}


#news-panel ul li.first a.storyimage {
	float: right;
	margin-top: 0;
	padding-left: 10px;
}

#news-panel ul li.first img {
	width: 200px;
	opacity: 0.97;
	float: right;
	padding-top: 10px;
	margin-left: 15px;
	margin-bottom: 10px;
}

#news-panel ul li.first img:hover {
	opacity: 1;
}


#news-panel ul li.first a {
	font-size: 28px;
	color: #133589;
	letter-spacing: -0em;
}

#news-panel ul li.first a.storlink {
	padding-top: 10px;
}

#news-panel ul li.bigger {
	width: 31%;
	height: 150px;	
}

#news-panel ul li.bigger a {
	font-size: 22px;
}

#news-panel ul li.hidden {
	display: none;
}

#news-panel ul li {
	border-bottom: 1px dotted #ddd;
	width: 291px;
	width: 31%;
	height: 100px;
}

#news-panel ul li a {
	display: block;
	margin-bottom: 0.5em;
	color: #133589;
	font-size: 15.5px;
}

/* Sidebar */



#sections-panel {
	width: 150px;
	float: left;
	margin-top: 50px;
	padding-left: 10px;

}

#sections-panel a:active {
	color: black;
}

#sections-panel ul li {
	width: 110px;
	margin: 0;
	padding: 0;
	text-align: right;
}

#sections-panel ul li a {
	text-decoration: none;
	display: block;
	color: #999;
	font-weight: bold;
	font-family: Palatino;
	width: 120px;	
	margin: 3px 0;	
	margin: 0;
	padding: 3px 0;	
	font-size: 18px;
	padding-left: 5px;
}

#sections-panel ul li a:hover {
	color: #555;
}

#sections-panel li.active a {
	width: 120px;
	color: #555;	
	z-index: 99;
	position: relative;
}


/* In Pictures */

#inpictures ul li {
	width:25%;
	height: 200px;
	padding: 0;
	border: none;
}

#inpictures ul li span {
	opacity: 0;
	display: block;
	background: black;
	color: white;
	padding: 10px;
}

#inpictures ul li span a {
	color: white;
	font-weight: bold;
}


#inpictures ul li:hover span {
	opacity: 0.8;
}


/* Reader Panel */

#reader {
	position: absolute;
	top: 0;
	left: 120px;
	display: none;
}

/* Back Panel */

#back-panel {
	background: black;
	width: 120px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	color: white;
	display: none;
}

#reading-panel {
	position: absolute;
	left: 150px;
	top: 85px;
	display: none;
	z-index: 99;
	background: white;
	border: none;
	padding-top: 0;
	right: 0;
	height: 620px;
}

#reading-panel .article {
	width: 600px;
	padding: 0em;
	padding-left: 1em;
}

#reading-panel .article p {
	font-family: Georgia;
	
}

#reading-panel p  {
	margin-bottom: 1em;
}

#toolbar ul,
#toolbar ul li {
	margin: 0;
	padding: 0;
}


#toolbar {
	display: block;
	margin-bottom: 1em;
	background: #102b6e;
	color: white;
}

#toolbar ul {
	height:16px;
	padding:6px;
}
	
#toolbar ul li {
	margin-right:20px;
	padding-left:20px;
	float: left;
}

#toolbar a {
	color: white;
}

#toolbar a#twitter {
	background: url(http://a1.twimg.com/a/1256331833/images/favicon.ico) left top no-repeat;
	padding-left:20px;
}


/* @group Culture Colors */

#news-panel #culture ul,	
#news-panel #culture ul li,
#news-panel #culture ul li.bigger {
	border-color: #A7006F;
}
	

#news-panel #culture ul li:hover a{
	color: #7D0053;
}

#news-panel #culture ul li a {
	color: #D1008B
}

#news-panel #money ul li a {
	color: #8F1AB6;
}

#news-panel #life-and-style ul li a {
	color: #AD532F;
}

#news-panel #travel ul li a {
	color:#066EC9;
}

#news-panel #environment ul li a {
	color:#4A7801;
}


/*Sport Colors */

#news-panel #sport ul li a {
	color: #3A7D00
}
	
#news-panel #sport ul li.first {
	color: #0D3D00;

}	

#news-panel #sport ul li:hover a{
	color: #0d3d00;
}

#news-panel #comment ul li a {
	color: #0061A6;	
}




/* Section Colours */

#home h2.section-header {
	border-bottom: 2px solid #D61D00;
}
#comment h2.section-header {
	border-top: 2px solid #0061A6;
	color: #0061A6;
	background: white;
}
#sport h2.section-header.section-header {
	border-top: 2px solid #008000;
	color: #008000;
	background: white;
}

#tv h2.section-header,
#culture h2.section-header {
	border-top: 2px solid #D1008B;
	color: #D1008B;
	background: white;
}

#business h2.section-header {
	border-top: 2px solid #3246AB;
	color: #3246AB;
	background: white;
}

#money h2.section-header {
	border-top: 2px solid #8F1AB6;
	color: #8F1AB6;
	background: white;
}

#environment h2.section-header {
	border-top: 2px solid #4A7801;
	color: #4A7801;
	background: white;	
}

#life-and-style h2.section-header {
	border-top: 2px solid #AD532F;
	color: #AD532F;
	background: white;	
}

#travel h2.section-header {
	border-top: 2px solid #066EC9;
	color: #066EC9;
	background: white;
}


#uk .section-header,
#world .section-header,
#politics .section-header,
#media .section-header,
#education .section-header, 
#society .section-header,
#science .section-header,
#technology .section-header {
	border-top: 4px solid #ab1700;
	color: #ab1700;
}

#news-panel #uk a,
#news-panel #world a,
#news-panel #politics a,
#news-panel #media a,
#news-panel #education a,
#news-panel #society a,
#news-panel #science a,
#news-panel #technology a  {
	color: #ab1700
}

#news-panel #uk a:hover,
#news-panel #world a:hover,
#news-panel #politics a:hover,
#news-panel #media a:hover,
#news-panel #education a:hover,
#news-panel #society a:hover,
#news-panel #science a:hover,
#news-panel #technology a:hover {
	color: #801100;
}



/* News Zones */

h2.section-header {
	background: #D61D00;
}





